@import url(../import.css);






/* ----- CONTEÚDO ----- */

.requisitos h1{
    font-family: var(--opensans) !important;
    font-weight: 615;
    font-size: 33pt;
    margin-left: 40px;
    margin-top: 40px;
}

.requisitos p{
    font-family: var(--opensans) !important;
    font-weight: 10;
    margin: 40px;
    font-size: 18pt;
}


